@import url(./styles/components/head.css);
@import url(./styles/font.css);
@import url(./styles/components/about.css);
@import url(./styles/color.css);
@import url(./styles/components/numbers.css);
@import url(./styles/components/workwith.css);
@import url(./styles/components/phone.css);
@import url(./styles/components/service.css);
@import url(./styles/components/citat.css);
@import url(./styles/components/team.css);
@import url(./styles/components/hipster.css);
@import url(./styles/components/work.css);
@import url(./styles/components/workimg.css);
@import url(./styles/components/clients.css);
@import url(./styles/components/blog.css);



html{
    scroll-behavior: smooth;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
ul,li,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}