@import url(./styles/head.css);
@import url(./styles/font.css);
@import url(./styles/about.css);
@import url(./styles/color.css);
@import url(./styles/numbers.css);
@import url(./styles/workwith.css);
@import url(./styles/phone.css);
@import url(./styles/service.css);
@import url(./styles/citat.css);
@import url(./styles/team.css);

html{
    scroll-behavior: smooth;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
ul,li,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}