.clients{
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(../../img/mountain.png);
    height: 827px;
}
.client-head{
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}
.client-head h2{
    font-family: 'Kaushan Script';
    font-weight: 400;
}
.client-head h1{
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-top: -10px;
}
.client-line{
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background: rgb(252, 142, 142);
}

