.footer{
    display: flex;
    gap: 40px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.footer-item{
    margin-top: 80px;
    padding-bottom: 40px;
}

.contact-first{
    width: 550px;
    margin-left: 30px;
}
.footer-item h2 a{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 35px;
    color: rgb(187, 186, 186);
    margin-top: 0;
    transition: color 0.3s ease;
}
.footer-item h2 a:hover{
    color: rgb(59, 197, 181);
}
.footer-item p{
    color: rgb(173, 173, 173);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.followers{
    font-family: 'Montserrat';
    font-size: 15px;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 10px;
    padding-left: 0;
}
.followers span{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
}
.social span{
    font-size: 13px;
    color: rgb(192, 191, 191);
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 200;
}
.social a img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}
.social a img:hover{
    transform: scale(1.2);
}
.subscribe{
    display: flex;
    margin-top: 20px;
}
.subscribe input{
    flex: 1;
    padding: 10px;
    font-style: italic;
    border: 1px solid rgb(225, 225, 225);
}
.subscribe button{
    padding: 10px 20px;
    background-color: rgb(152, 241, 229);
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: azure;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.subscribe button:hover{
    transform: scale(1.1);
}

.blog-tittle{
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 300;
    color: black;
    font-size: 14px;
    margin: 0 0 35px;
}
.blog{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}
.blog h4{
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 300;
    color: black;
    font-size: 12px;
    margin-bottom: 5px;
}
.blog span{
    font-size: 13px;
    color: rgb(192, 191, 191);
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 200;
}

.instagram-tittle{
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 300;
    color: black;
    font-size: 14px;
    margin: 0 0 35px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 5px;
    margin-right: 30px;
    margin-bottom: 8px;
}
.gallery img{
    width: 80px;
    height: 80px;
}
.photos a{
    font-size: 13px;
    color: rgb(133, 133, 133);
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 200;
}

.foot-copyright{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 500;
    margin: 20px;
}
.copyright span a{
    color: rgb(252, 142, 142);
    cursor: pointer;
}