.map{
    background-image: url(../../img/Map.png);
    margin-top: 100px;
    height: 182px;
}
.map-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 182px;
}
.map-content img{
    cursor: pointer;
    transition: transform 0.4s ease;
}
.map-content img:hover{
    transform: scale(1.3);
}
.map-content h3{
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-top: 13px;
    color: rgb(252, 142, 142);
    opacity: 0;
    transition: opacity 0.4s ease;
}
.map-line{
    width: 60px;
    height: 3px;
    background: rgb(252, 142, 142);
    opacity: 0;
    transition: opacity 0.4s ease;
}
.map-content a:hover ~ h3, .map-content a:hover ~ .map-line{
    opacity: 1;
}