.work-text{
    text-align: center;
    margin: 100px auto;
    width: 1000px;
}
.work-text h2{
    font-family: 'Kaushan Script';
    font-weight: 400;
}
.work-text h1{
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-top: -10px;
}
.work-line{
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background: rgb(252, 142, 142);
}
.work-text p{
    color: rgb(166, 166, 166);
    font-family: 'Roboto';
    font-size: 15px;
}